/*===============================================================================================================*/
/*                                                   ѕо€снение                                                   */
/*===============================================================================================================*/
/*  лассы дл€ изменени€ внешнего вида:                                                                           */
/*   .tabs_contoller - основна€ область, позвол€ет изменить окраску под контентом если у него не был указан цвет */
/*   .tab_list - область под вкладками                                                                           */
/*   .tab - люба€ вкладка, неактивна€                                                                            */
/*   .selected_tab - выбранна€ вкладка                                                                           */
/*   .selected_tab_content - контент выбранной вкладки, запрещаетс€ использовате display!!!                      */
/*===============================================================================================================*/

/*главна€ область*/
.tabs_contoller {
    background-color: #808080; /*цвет под фона под контентом, если он не указан*/
    height: 100%;
}
/*все вкладки с контентом*/
.tabs_contoller > div {
    display: none; /*стандартно скрывает все вкладки*/
    width: 100%; /*занимает всю данную ширину*/
}
/*область дл€ вкладок*/
.tabs_contoller .tab_list {
    background-color: #969696; /*цвет заднего фона под вкладками*/
    display: flex;
    flex-flow: row; /*отображает вкладки в р€д*/
    user-select: none; /*убирает возможность выделить текст*/
}

/*неактивна€ вкладка*/
.tab {
    padding: 2px 4px;
    background-color: #969696; /*цвет фона неактивной вкладки*/
    color: #000000; /*цвет текста*/
    font-family: Arial; /*шрифт*/
    font-size: 10pt;
}
/*выбранна€ вкладка*/
.selected_tab {
    background-color: #aaaaaa; /*цвет фона выбранной вкладки*/
}
/*контент выбранной вкладки*/
.selected_tab_content {
    display: block !important;
}